


{% if error %}
    <script type="text/javascript">
        function init() {
            $('#signInUpOver').css("display","block");            
        }
    window.onload = init;
    </script>
    <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
{% endif %}

<form action="{{ path("fos_user_security_check") }}" method="post">
    <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />

   
    <input type="text" class="username" placeholder="Your email or username" id="username" name="_username" value="{{ last_username }}" required="required" />

    
    <input type="password" class="password" placeholder="Your password" id="password" name="_password" required="required" />
    
    <input type="checkbox" id="remember_me" name="_remember_me" value="on" />
    <!--<label for="remember_me">Remenber me</label> -->
    
    <button type="submit" class="button signin" id="_submit" name="_submit">Sign in</button>
    <a class="forgot" href="#">Forgot your password?</a>
</form>

