{# src/OC/UserBundle/Resources/views/layout.html.twig #}


{% extends "::layout.html.twig" %}

{% block title %}
  Dashoard
{% endblock %}

{% block bellowHeader %}
    
{% endblock %}

{% block body %}
    <div class="full-main">
        <nav>
            <ul>
                <a target="_self" href="{{ path('pp_dashboard_content') }}"><li>Content</li></a>
                <a target="_self" href="{{ path('pp_dashboard_report') }}"><li>Report</li></a>
            </ul>
        </nav>

        {% block dashbordBody %}

        {% endblock %}
    </div>
{% endblock %}

{% block sideInfo %}
{% endblock %}
    