<section class="overlay send-request" id="sendRequestOver" style="display: none;">    
    <div class="box-container new-request stopPropagation">
        <div class="box-content">
            <div class="box-top">
                Send new request
                <button class="button-close" id="sendRequestOverClose" >×</button>
            </div>
            <div class="edit-request-content" id="sendRequestContent">
                <div class="load-content"  id="loadingGif" >
                <span class="bubble"></span>
                </div>
            </div>
            
        </div>
    </div>
</section>

<section class="overlay send-request" id="editRequestOver" style="display: none;">  
    <div class="box-container new-request stopPropagation">
        <div class="box-content">
            <div class="box-top">
                Edit request
                <button class="button-close" id="editRequestOverClose" >×</button>
            </div>
            <div class="edit-request-content" id="editRequestContent">
                <div class="load-content"  id="loadingGif" >
                <span class="bubble"></span>
                </div>
            </div>            
        </div>
    </div>
</section>
