<section class="overlay send-request" id="sendRequestOver" style="display: none;">    
    <div class="box-container new-request stopPropagation">
        <div class="box-content">
            <div class="box-top">
                Send new request
                <button class="button-close" id="sendRequestOverClose" >×</button>
            </div>
            <div id="sendRequestContent">
                <div class="load-content"  id="loadingGif" >
                <span class="bubble"></span>
                </div>
            </div>
            
        </div>
    </div>
</section>

<section class="overlay sign" id="signInUpOver" style="display:none;" >
    <button class="button-close" id="signInUpOverClose" >×</button>
    <div class="overlay-content">
        {{ render(controller("FOSUserBundle:Security:login"))}}
    <div class="terms">
            <p>
                By clicking Sign Up, you agree to our <a href="#">Terms</a> and that you have read our <a href="#">Data Policy</a>, including our <a href="#">Cookie Use</a>.
            </p>
        </div>
    </div>
</section> 