<section class="slideshow">
	<img alt="image" class="single-photo" src="http://1.bp.blogspot.com/-hNC-oT6f-fY/TeXxO26yjvI/AAAAAAAAAOY/qfkOqdKkBi8/s1600/platon-photographer-putin-man-of-the-year-portrait.jpg">
	<div class="overlay"></div>
	<div class="content-slideshow">
		<div class="action-top">
			<div class="action-group left">
				<a class="icon infos" href="#"></a>
			</div>
			<div class="action-group center">
				<a class="icon share" href="#"></a>
				<a class="icon download" href="#"></a>
				<a class="icon report" href="#"></a>
				<a class="icon delete" href="#"></a>
			</div>
			<div class="action-group right">
				<a class="selecting-prop selected" href="#">Selected picture</a>
				<button class="button-close">×</button>
			</div>
		</div>
		<div class="img-title">
			<a class="avatar" href="#">
				<img src="http://my-versus.net/admin/avatar/Fran_ois_Hollande.jpg">
			</a>
			<div class="infos">
				<div class="name">Image #1</div>
				<div class="author">
					by 
					<a href="#">Flambie</a>
				</div>
			</div>
		</div>
		<div class="action-bottom">
			<a class="count-vote" href="#">13</a>
		</div>
	</div>
</section>