<section class="overlay send-report">
	<div class="report-container">
		<div class="report-content">
			<div class="report-top">
				Report a Policy violation
				<button class="button-close">×</button>
			</div>
			<div class="report-text">
				Please select the Type of Violation you feel best represents the submission.
			</div>
			<div class="report-choice">
				<select>
					<option value="1">Problem Content</option>
					<option value="2">Misplaced Deviation</option>
					<option value="3">Permission Issues</option>
					<option value="4">My Intellectual Property</option>
					<option value="5">Explicit Pornography</option>
					<option value="6">Sexualized Minor</option>
					<option value="7">Malware</option>
					<option value="8">"Warez"</option>
				</select>
				<textarea>More details...</textarea>
			</div>
			<div class="report-bottom">
				<input class="button" type="submit" value="Send Report">
			</div>
		</div>
	</div>
</section>