@import ../../../../../AppBundle/Resources/public/css/init.sass

section.main
	width: 100%
	padding: 45px 0
	display: inline-block

	.main-left
		width: 770px
		height: auto
		display: inline-block
		float: left
		margin: 0 15px

		.main-top
			width: 100%
			height: auto
			margin: 0 0 25px

			a.section, .dropdown-container .dropdown-text
				font-size: 20px
				color: #777
				text-transform: uppercase
				font-weight: 600
				margin: 0 45px 0 0

				&:hover
					color: #444
					text-decoration: none

				&.selected, &.open
					color: $main-color

			.dropdown-container
				float: right

				.dropdown-text
					margin: 0

					&:after
						font-size: 20px
						content: $icon-dropdown

			.select-style
				color: #777

				&:hover
					color: #444

		article.request, article.request-single
			background: white
			width: 770px
			height: auto
			display: block
			margin: 0 0 15px
			display: inline-block
			border-bottom: 1px solid rgba(0,0,0,.1)

			.count-vote
				width: 100px
				float: right

			.request-container
				width: 770px
				height: auto
				padding: 15px 20px
				display: block
				overflow: hidden
				position: relative

				h1
					width: 630px
					height: auto
					padding: 0
					margin: 0 0 10px
					font-size: 30px
					float: left
					line-height: 30px

					a
						&:hover
							color: $main-color-hover
							text-decoration: none

				.request-content
					width: 100%
					color: #444
					font-size: 17px
					display: block
					float: left

				.author-container
					width: 285px
					height: 48px
					display: inline-block
					float: left
					font-size: 15px

					a.avatar
						width: 48px
						height: 48px
						float: left
						margin: 0 10px 0 0
						border: 1px solid white

					span.author-infos
						display: block
						color: #777
						font-size: 15px
						font-weight: 400
						padding-top: 3px

					a.author-username
						display: inline-block
						font-size: 19px

				.tag-list
					width: 445px
					height: auto
					float: right
					text-align: right
					display: inline-block

			.propositions-container, .actions-container
				background-color: rgba(0,0,0,.03)
				width: 770px
				height: auto
				display: block
				float: left

			.actions-container
				padding: 10px 15px

				a.action
					text-transform: uppercase
					color: #777
					font-weight: 600
					display: inline-block

					&:after
						font-weight: normal

					&:hover
						color: #444

					&.active
						color: $main-color

					&.share, &.more
						&:after
							font-family: "pp-font"
							font-size: 16px
							content: $icon-dropdown
							float: right
							display: inline-block
							width: 16px
							height: 16px
							margin: 2px 0 0 5px

				.actions-left
					float: left

					a.action
						margin: 0 15px 0 0

				.actions-right
					float: right

					a.action
						margin: 0 0 0 15px

			.propositions-container
				padding: 10px 20px 20px

				span.prop-num
					display: block
					width: 100%
					height: auto
					margin-bottom: 10px
					text-transform: uppercase
					font-weight: 600
					color: #777

				a.prop-img, a.prop-more
					background: rgba(0,0,0,.1)
					width: 240px
					height: 150px
					display: inline-block
					float: left
					margin: 0 5px 0 0
					overflow: hidden

					&:last-child
						margin: 0

					&:hover
						background: rgba(0,0,0,.15)

					img
						width: 240px
						height: 150px

					&:first-child
						margin: 0

				a.prop-more
					text-align: center
					font-size: 50px
					padding: 45px 0
					color: rgba(0,0,0,.25)

					&:hover
						color: rgba(0,0,0,.5)

		// PROPOSITION SINGLE

		article.replies
			width: 780px
			height: auto
			margin: 0 -5px
			display: inline-block

			.more-replies
				background: white
				width: 770px
				font-size: 17px
				font-weight: 600
				color: #444
				display: inline-block
				margin: 0 5px
				padding: 10px 0
				border-bottom: 1px solid rgba(0,0,0,.1)
				text-align: center
				text-transform: uppercase

			.reply
				background: rgba(0,0,0,0.1)
				width: 380px
				height: 237px
				display: inline-block
				overflow: hidden
				margin: 0 5px 10px
				float: left
				position: relative

				.prop
					width: 380px
					height: 260px
					display: block

					img
						width: 380px
						height: 237px

				a.overlay
					background: -webkit-linear-gradient(transparent 60%, rgba(0, 0, 0, 0.7) 100%)
					background: -o-linear-gradient(transparent 60%, rgba(0, 0, 0, 0.7) 100%)
					background: -ms-linear-gradient(transparent 60%, rgba(0, 0, 0, 0.7) 100%)
					background: linear-gradient(transparent 60%, rgba(0, 0, 0, 0.7) 100%)
					width: 380px
					height: 260px
					display: block
					position: absolute
					top: 0

				.img-title
					position: absolute
					width: auto
					height: auto
					bottom: 0
					padding: 0 20px 20px

					.infos
						font-size: 15px
						color: rgba(255,255,255,.75)
						float: left

						a.author
							width: auto
							display: block
							font-size: 19px
							color: white

				a.selecting-prop
					color: rgba(255,255,255,0)
					display: block
					position: absolute
					top: 20px
					right: 20px
					padding: 5px 5px 5px 10px
					font-size: 15px
					line-height: 20px
					text-transform: uppercase

					&:hover
						&:after
							animation: beat 1.25s cubic-bezier(.165,.84,.44,1) infinite

					&:hover, &.selected
						color: rgba(0,0,0,0.5)
						background: rgba(255,255,255,0.5)
						border-radius: 3px
						border: 1px solid rgba(0,0,0,0.1)

						&:after
							color: #EB154C


					&:after
						width: 24px
						height: 20px
						margin-left: 5px
						display: block
						text-align: center
						font-family: "pp-font"
						speak: none
						font-size: 20px
						font-style: normal
						font-weight: normal
						font-variant: normal
						text-transform: none
						text-align: center
						line-height: 1
						-webkit-font-smoothing: antialiased
						-moz-osx-font-smoothing: grayscale
						content: $icon-hearth
						float: right
						color: rgba(255,255,255,.75)

				.actions
					position: absolute
					bottom: 0
					right: 0
					padding: 0 20px 20px

					a.count-vote
						color: rgba(255,255,255,.75)

						&:hover, &.voted
							color: #00D084

						&.blocked
							color: rgba(255,255,255,.5)

				&.selected
					width: 770px
					height: 480px

					.prop
						width: 770px
						height: 480px
						display: block

						img
							width: 770px
							height: 480px

					a.overlay
						background: url(../images/img-title.png) repeat-x bottom
						width: 770px
						height: 480px

					.img-title

						a.avatar
							width: 48px
							height: 48px
							float: left
							border: 1px solid rgba(255,255,255,0.75)

						.infos
							padding-left: 10px

		article.add-prop
			background: white
			width: 770px
			height: auto
			border-bottom: 1px solid rgba(0,0,0,.1)
			padding: 15px 20px 25px
			margin: 25px 0
			display: inline-block

			.title-boxe
				font-size: 17px
				font-weight: 600
				color: $main-color
				text-transform: uppercase
				margin-bottom: 10px

			.dragzone
				width: 730px
				height: 480px
				border: 2px dashed rgba(0,0,0,.1)
				margin-bottom: 10px
				position: relative
				overflow: hidden
				z-index: 0

				&:hover, &.drag
					border-color: rgba(0,0,0,.25)

				.dragzone-uploaded
					position: absolute
					top: 50%
					left: 50%
					@include vendor-prefix(transform, translate(-50%,-50%))
					min-width: 100%
					min-height: 100%
					z-index: 2

					.banner, .overlay
						position: absolute
						top: 50%
						left: 50%
						@include vendor-prefix(transform, translate(-50%,-50%))
						min-width: 100%
						min-height: 100%
						z-index: 2

						.img-preview
							background-repeat: no-repeat
							background-size: cover
							position: absolute
							top: 50%
							left: 50%
							@include vendor-prefix(transform, translate(-50%,-50%))
							width: 100%
							height: 100%
							z-index: 2

					.overlay
						.button-close
							background: transparent
							border: 0
							font-size: 32px
							padding: 5px 20px 5px 10px
							font-family: -apple-system, ".SFNSText-Regular", "Helvetica Neue", "Roboto", "Segoe UI", sans-serif
							letter-spacing: 0
							font-weight: 300
							font-style: normal
							color: white
							text-shadow: 0 0 15px rgba(0,0,0,.5)
							position: absolute
							top: 0
							right: 0

				.dragzone-upload
					width: 100%
					min-height: 500px
					position: relative
					padding: 150px 0
					z-index: 1

					p
						width: 100%
						text-align: center
						color: #777

						&:before
							display: block
							font-family: "pp-font"
							color: rgba(0,0,0,.1)
							content: $icon-upload
							font-size: 120px
							margin-bottom: 10px

						.choose
							color: $main-color

							&:hover
								color: #5E1C1B

					input
						position: absolute
						margin: 0
						padding: 0
						width: 100%
						height: 100%
						outline: none
						top: 0
						left: 0
						opacity: 0

					button
						display: block
						margin: 15px auto
						padding: 8px 15px
						background: transparent
						border: 2px solid $main-color
						color: $main-color
						font-weight: 600
						font-size: 15px
						width: auto
						height: auto
						border-radius: 3px
						outline: none
						z-index: 2
						position: relative

						&:hover
							background: $main-color
							color: white

						&:active
							border: 0

			span
				color: #777
				font-size: 15px

			.button
				float: right

		article.comments
			margin: 25px 0
			display: inline-block

			.title-section
				font-size: 22px
				color: #444
				text-transform: uppercase
				font-weight: 600
				margin-bottom: 15px

			ul.list-comments
				background: white
				border-bottom: 1px solid rgba(0,0,0,.1)
				padding: 0
				margin: 0

				li.comment
					padding: 15px 20px
					list-style: none
					overflow: hidden
					border-bottom: 1px solid rgba(0,0,0,.1)

					&:last-child
						border: none

					a.avatar
						width: 32px
						height: 32px
						float: left

					.comment-container, .composer-container
						width: 683px
						height: auto
						font-size: 15px
						display: inline-block
						float: left
						margin-left: 15px
						position: relative

						a.username
							color: #444
							font-weight: 600
							display: block

							&:hover
								color: #5E1C1B

						.comment-content
							display: block

					.composer-container
						display: -webkit-box
						display: -moz-box
						display: -webkit-flex
						display: -ms-flexbox
						display: flex

						.comment-composer
							width: 100%
							height: 32px
							display: block
							min-height: 32px
							border: none
							background: transparent
							resize: none

						.button-comment
							border: none
							text-transform: uppercase
							background: transparent
							font-weight: 600
							color: #777
							padding: 8px
							border-radius: 3px
							max-height: 35px

							&:hover
								background: #F3F3F3
								color: $main-color

	.sidebar
		width: 370px
		height: auto
		display: inline-block
		float: left
		margin: 0 15px
		overflow: hidden

		.widget
			width: 370px
			height: auto
			display: block
			float: left
			margin-bottom: 20px
			padding-bottom: 10px
			border-bottom: 1px solid #ddd

			&:last-child
				border-bottom: none

			h1
				margin: 0 0 15px
				padding: 0
				font-size: 22px
				display: inline-block
				font-weight: 600
				text-transform: uppercase

			a.see-more
				font-size: 13px
				margin: 0 0 15px 10px
				padding: 3px 8px
				color: #777
				text-transform: uppercase
				background: rgba(0,0,0,.05)
				border-radius: 3px
				display: inline-block

				&:hover
					background: #ddd
					color: #555

			ul.tag-list, ul.users, ul.subjects
				margin: 0
				padding: 0

				li
					list-style: none

				li.tag-item
					margin-bottom: 5px

					span.subject-count
						margin-left: 5px
						font-size: 14px
						color: #a2a2a2

					.tag-desc
						font-size: 14px
						display: block
						padding: 5px 0

				li.user
					width: 100%
					height: auto
					display: block
					float: left					
					margin-bottom: 5px

					&:last-child
						margin-bottom: 15px

					a.avatar
						background: rgba(0,0,0,.1)
						width: 25px
						height: 25px
						border-radius: 50%
						display: inline-block
						float: left
						margin-right: 10px
						overflow: hidden

						img
							width: 100%

					a.username
						font-size: 18px

				li.subject
					width: 100%
					height: auto
					display: block
					float: left					
					margin-bottom: 15px

					a.title
						display: block
						font-size: 18px

					span.author, a.data
						font-size: 14px

					a.data
						color: #a2a2a2
						margin-left: 5px

		.footer
			color: #aaa
			font-size: 14px

			a
				color: #aaa

				&:hover
					text-decoration: underline

			ul
				margin: 0
				padding: 0

				li
					list-style: none
					display: inline

					&:after
						content: "-"
						margin: 0 5px

				li:last-child:after
					content: " "

			.copy
				margin-top: 10px
				display: block