// BUTTON

button, .button
	background: $highlight
	border: none
	text-transform: uppercase
	font-weight: 600
	color: $texts
	padding: 8px 16px
	border-radius: 3px
	display: inline-block
	font-size: 16px

	&:hover
		background: $button-hover
		color: $texts
		text-decoration: none

	&:focus
		box-shadow: 0 0 0 1px #fff, 0 0 0 3px rgba(196, 75, 71, 0.5)
		text-decoration: none

	&:active
		background: $content
		color: white

	&:disabled
		background: $disabled
		color: $placeholder

	&.red
		background: $main-color
		color: white

		&:hover
			background: $main-color-hover

		&:active
			background: $content

	&.grey
		background: $button-hover

		&:hover
			background: $texts

		&:active
			background: $content

	&.green
		&:hover, &:focus
			background: $success
			color: white
			box-shadow: none

		&:active
			background: $content