// VARS
$main-color: #C24C4A
$main-color-hover: #762D2B
$main-color-active: #441A19
$content: #444
$background: #EEEEEE

// ICONS

$icon-checked: "\e908"
$icon-edit: "\e903"
$icon-new: "\e90b"
$icon-share: "\e907"
$icon-delete: "\e902"
$icon-filters: "\e90a"
$icon-notification: "\e90c"
$icon-upload: "\e90d"
$icon-download: "\e901"
$icon-hearth: "\e904"
$icon-report: "\e900"
$icon-upvote: "\e90e"
$icon-dropdown: "\e909"
$icon-infos: "\e905"
$icon-search: "\e906"

@import mixin