section.overlay
	position: fixed
	overflow: auto
	top: 0
	left: 0
	bottom: 0
	right: 0
	display: block
	z-index: 901
	width: 100%
	padding: 0
	margin: 0
	border: 0

	&.send-report, &.send-request, &.sign
		background-color: rgba(0,0,0,.85)

	button.button-close
		background: transparent
		border: 0
		font-size: 32px
		padding: 10px 20px
		position: absolute
		top: 0
		right: 0
		font-family: -apple-system,".SFNSText-Regular","Helvetica Neue","Roboto","Segoe UI",sans-serif
		letter-spacing: 0
		font-weight: 300
		font-style: normal
		color: rgba(255,255,255,.5)

		&:hover
			color: rgba(255,255,255,1)

	.overlay-content
		width: 100%
		max-width: 390px
		height: auto
		position: absolute
		top: 50%
		left: 50%
		@include vendor-prefix(transform, translate(-50%, -50%))

		.overlay-title
			background: url(../images/logo_white.png) no-repeat
			background-size: cover
			width: 60px
			height: 48px
			text-indent: -9999px
			display: block
			margin: 0 auto

		p.ind
			font-size: 20px
			color: rgba(255,255,255,.75)
			text-align: center

		.overlay-actions
			background: white
			border: 1px solid rgba(0,0,0,.1)
			border-radius: 3px
			width: 100%
			display: block
			overflow: hidden

			.top-form
				font-size: 20px
				color: #444
				text-align: center
				padding: 20px 20px 15px
				font-weight: 400
				border-bottom: 1px solid rgba(0,0,0,.1)

			.signin-form
				width: 100%
				display: block
				overflow: hidden

				form
					input
						background: transparent
						margin: 0
						padding: 10px 15px
						font-size: 18px
						border: none
						border-bottom: 1px solid rgba(0,0,0,.1)

						&:focus
							border-bottom: 1px solid $main-color

					input[type="text"], input[type="password"], input[type="mail"]
						width: 100%

					.signin-left, .signin-right
						width: 50%
						display: inline-block
						padding: 10px 15px
						float: left

					.signin-left
						text-align: left
						color: #444
						font-size: 14px
						line-height: 16px
						padding: 15px

						label
							padding-top: 4px

					.signin-right
						text-align: right

					.forgot
						display: block
						float: left
						width: 100%
						height: auto
						color: #BBB
						font-size: 12px
						padding: 0 15px

						a 
							&:hover
								color: $main-color

			.signup-form
				background: #FAFAFA
				width: 100%
				padding: 15px
				display: block
				text-align: center
				border-top: 1px solid rgba(0,0,0,.1)
				margin-top: 20px
				font-size: 20px

				a
					&:hover
						color: $main-color

		.terms
			width: 360px
			text-align: center
			padding: 10px 15px
			font-size: 12px
			color: rgba(255,255,255,.33)

			a
				color: rgba(255,255,255,.5)
				text-decoration: underline

				&:hover
					color: rgba(255,255,255,.75)

	// REPORT, NEW REQUEST

	.box-container
		background: white
		height: auto
		position: absolute
		top: 50%
		left: 50%
		transform: translate(-50%, -50%)
		border-radius: 3px
		border: 1px solid #ccc
		overflow: hidden
		box-shadow: 0 0 50px rgba(0,0,0,.1)

		&.report
			width: 445px

		&.new-request
			width: 770px

		.box-top
			padding: 10px 15px
			color: #444
			border-bottom: 1px solid rgba(0, 0, 0, 0.1)
			text-transform: uppercase
			font-weight: 600
			font-size: 18px

			.button-close
				float: right
				position: absolute
				border: none
				background: transparent
				padding: 2px 15px
				margin: 0
				top: 0
				right: 0
				color: #ccc
				font-family: -apple-system, ".SFNSText-Regular", "Helvetica Neue", "Roboto", "Segoe UI", sans-serif
				letter-spacing: 0
				font-weight: 300
				font-style: normal
				font-size: 32px

				&:hover
					color: $main-color
		
		.box-text
			padding: 10px 15px
			color: #777
	
		.box-choice, .box-comp
			
			input, select, textarea
				width: 100%
				background: none
				border: none
				border-bottom: 1px solid rgba(0, 0, 0, 0.1)
				border-radius: 0
				margin: 0
				padding: 10px 15px
				-webkit-appearance: none
				-moz-appearance: none
				appearance: none
				color: #444

		.box-choice
			&:first-child
				border-top: 1px solid rgba(0, 0, 0, 0.1)

		.box-comp

			.title
				font-size: 25px

			div:nth-child(2)
				max-height: 325px

			.content
				resize: none
				min-height: 325px

			.add-tags
				border-left: 1px solid rgba(0,0,0,.1)
	
		.box-bottom
			padding: 10px 15px
			display: block
			overflow: hidden

			.button
				float: right