@import init

@media (max-width: 1200px)
	section.main
		padding-bottom: 0

		.main-left
			float: initial
			display: block
			margin: 0 auto
			overflow: hidden

		.sidebar
			float: initial
			display: block
			margin: 0 auto
			width: 770px

			.widget
				width: 770px

	.full-main
		max-width: 795px

		.full-main-container
			.full-main-container-center
				margin-right: 0

			.full-main-container-right
				margin-right: 15px

@media (max-width: 980px)
	header
		div.content
			.search
				height: 56px
				display: none

				form
					height: 56px

					input.main-search
						height: 56px
						font-size: 16px
						border: none
						padding: 0

			nav.menu
				max-width: 153px

				ul
					li
						&.search-rbutton-container
							display: inline-block

@media (max-width: 815px)
	.full-main
		max-width: 390px

		.full-main-container
			.full-main-container-left, .full-main-container-center, .full-main-container-right
				margin-right: 0

@media (max-width: 790px)
	section.main
		.main-left
			.main-top
				padding: 0 20px

		.sidebar
			.widget
				padding: 0 20px

@media (max-width: 770px)
	section.main
		margin-top: 56px

		&.notop
			margin-top: 0

		.sidebar
			width: 100%

			.widget
				width: 100%

@media (min-width: 580px) and (max-width: 770px)
	section.overlay
		.box-container
			width: 90%

@media (max-width: 770px)
	header
		background: #C24C4A
		color: white
		height: 56px

		&.nav-up
			top: -56px

		&.profile
			div.content
				nav.menu
					ul
						li
							a.search-rbutton, a.notification
								background: transparent
								color: rgba(255,255,255,.75)

				nav.menu .dropdown
					background: white
					border: none

		div.content
			padding: 0 20px

			h1.logo
				width: 30px
				height: 56px
				margin: 0 15px 0 0

				a
					width: 30px
					height: 56px

					&:hover
						&:before
							color: white

					&:before
						color: white
						font-size: 24px
						position: absolute
						top: 50%
						@include vendor-prefix(transform, translateY(-50%))



			nav.menu
				width: 116px
				height: 56px
				margin-left: 10px

				ul
					li
						margin-left: 5px

						&:first-child
							margin-left: 0

						a.notification, a.search-rbutton
							position: relative
							width: 24px
							height: 24px
							margin: 16px 6px
							padding: 4px
							background: transparent
							color: white

							.number
								display: none

							&:before
								padding: 0
								font-size: 16px

							&:hover, &.open, &:focus
								background: white!important
								color: $main-color

							&.alert
								.number
									display: block
									position: absolute
									top: 0
									left: 0
									width: 100%
									height: 100%
									background: white
									color: $main-color
									padding: 0
									font-size: 16px
									line-height: 24px
									font-weight: 600
									text-align: center

						a.account
							width: 24px
							height: 24px
							margin: 16px 0 16px 10px

			.header-actions
				.header-actions-buttons
					ul
						height: 56px

						&.connected, &.disconnected
							position: absolute
							left: 66px
							top: 0

							li
								margin-left: 0

						li
							&.header-action-new
								display: none

							a
								&.button
									float: left
									margin: 12px 0
									padding: 7px 14px
									background: white
									color: #444
									font-size: 14px

			nav.menu .dropdown
				right: 0px
				top: 54px
				border-radius: 0px
				border: 0px
				height: calc(100% - 56px)
				position: fixed

				&.menu, &.notif
					width: 100%

					.caret-outer
						border-bottom-color: white

				&.notif
					.dropdown-caret
						right: 68px

				&.menu
					.dropdown-caret
						right: 23px

				.dropdown-caret
					top: -9px

	section.jumbotron
		background: #D8D8D8
		background-image: none
		padding: 116px 20px 60px
		font-size: 18px

		.line
			color: $content

		.learn
			margin-top: 10px

	article.profile-card
		margin: 0 auto 10px
		float: initial

		&:nth-child(odd)
			margin-right: auto

	section.profile-container
		.profile-show-cover, .profile-edit-cover
			.profile-container
				.profile-infos
					.avatar
						width: 100px
						height: 100px

						.profile-avatar-new
							width: 100%
							height: 100%

					.username
						font-size: 20px

						div
							height: 25px

							input, textarea
								font-size: 20px

					.screenname
						font-size: 14px

						div
							height: 18px

							input, textarea
								font-size: 14px

				.profile-stats
					font-size: 14px

				.profile-bio
					font-size: 16px

					div
						height: 40px

						input, textarea
							font-size: 16px

				.profile-links

					a
						font-size: 14px

					div
						input, textarea
							font-size: 14px

			.profile-cover-dropzone
				&:before
					top: 71px

				&:after
					top: 69px

	section.main
		padding: 20px 0
	
	div.content
		padding: 0

	section.main
		padding: 20px 0

		.main-left
			width: 100%
			margin: 0

			.main-top
				width: 100%
				margin: 0 0 10px
				padding: 0 20px

				a.section, .dropdown-container .dropdown-text
					font-size: 15px
					margin: 0 10px 0 0

				.dropdown-container
					.dropdown-text
						margin: 0

						&:after
							font-size: 15px

			article.request, article.request-single
				margin: 0 0 15px

				.count-vote
					width: auto
					padding: 0 5px
					margin-right: -5px

				a.count-vote
					font-size: 22px
					line-height: 22px

					&:after
						width: 16px
						height: 16px
						padding: 3px 0 2px 5px
						font-size: 16px

				.request-container
					width: 100%
					padding: 15px 20px 10px

					h1
						width: calc(100% - 60px)
						padding: 0
						margin: 0 0 10px
						font-size: 20px
						line-height: 20px

					.request-content
						width: 100%
						font-size: 14px

						p:first-child
							margin-top: 0

					.author-container
						width: 100%
						height: 42px
						font-size: 15px

						a.avatar
							width: 32px
							height: 32px
							margin: 0 10px 0 0

						span.author-infos
							font-size: 12px
							padding-top: 0

						a.author-username
							font-size: 14px

					.tag-list
						width: 100%
						float: left
						text-align: left

						.tag
							margin: 5px 5px 0 0
							padding: 4px 8px
							font-size: 12px

				.propositions-container, .actions-container
					width: 100%
					font-size: 14px

				.actions-container
					padding: 10px 20px

					a.action

						&.share, &.more
							&:after
								font-size: 16px
								width: 16px
								height: 16px
								margin: 2px 0 0 5px

					.actions-left
						a.action
							margin: 0 15px 0 0

					.actions-right
						a.action
							margin: 0 0 0 15px

				.propositions-container
					padding: 10px 0

					span.prop-num
						width: 100%
						margin-bottom: 10px
						padding: 0 20px

					a.prop-img, a.prop-more
						width: 100%
						height: auto
						margin: 0 0 5px 0

						img
							width: 100%
							height: auto
							float: left

					a.prop-more
						font-size: 15px
						padding: 20px 0

			// PROPOSITION SINGLE

			article.replies
				width: 100%
				margin: 0

				.more-replies
					width: 100%
					font-size: 17px
					margin: 0
					padding: 10px 0

				.reply
					width: 100%
					height: auto
					display: inline-block
					margin: 0 0 5px
					float: left
					position: relative

					.prop
						width: 100%
						height: auto
						min-height: 200px

						img
							width: 100%
							height: auto
							float: left

					a.overlay
						width: 100%
						height: 100%

					.img-title
						padding: 0 20px 20px

						.infos
							font-size: 12px

							a.author
								width: auto
								font-size: 14px

					a.selecting-prop
						font-size: 14px
						line-height: 16px

						&:after
							width: 20px
							height: 16px
							font-size: 16px
							line-height: 16px

					.actions
						padding: 0 20px 20px

						a.count-vote
							padding: 0 5px
							font-size: 22px
							line-height: 22px

							&:after
								font-size: 16px
								padding: 3px 0 2px 5px
								width: 16px
								height: 16px

					&.selected
						width: 100%
						height: auto

						.prop
							width: 100%
							height: auto

							img
								width: 100%
								height: auto

						a.overlay
							width: 100%
							height: auto

						.img-title
							a.avatar
								width: 32px
								height: 32px

							.infos
								padding-left: 10px

			article.add-prop
				width: 100%
				padding: 15px 20px 25px
				margin: 25px 0

				.title-boxe
					font-size: 17px
					margin-bottom: 10px

				.dragzone
					width: 100%
					height: 480px
					margin-bottom: 10px

					&:hover, &.drag
						border-color: rgba(0,0,0,.25)

					.dragzone-uploaded
						position: absolute
						top: 50%
						left: 50%
						@include vendor-prefix(transform, translate(-50%,-50%))
						min-width: 100%
						min-height: 100%
						z-index: 2

						.banner, .overlay
							position: absolute
							top: 50%
							left: 50%
							@include vendor-prefix(transform, translate(-50%,-50%))
							min-width: 100%
							min-height: 100%
							z-index: 2

							.img-preview
								background-repeat: no-repeat
								background-size: cover
								position: absolute
								top: 50%
								left: 50%
								@include vendor-prefix(transform, translate(-50%,-50%))
								width: 100%
								height: 100%
								z-index: 2

						.overlay
							.button-close
								background: transparent
								border: 0
								font-size: 32px
								padding: 5px 20px 5px 10px
								font-family: -apple-system, ".SFNSText-Regular", "Helvetica Neue", "Roboto", "Segoe UI", sans-serif
								letter-spacing: 0
								font-weight: 300
								font-style: normal
								color: rgba(255,255,255,.75)
								text-shadow: 0 0 15px rgba(0,0,0,.5)
								position: absolute
								top: 0
								right: 0

								&:hover, &:focus
									text-decoration: none
									color: white

					.dragzone-upload
						width: 100%
						height: 480px
						position: relative
						padding: 150px 0
						z-index: 1

						p
							width: 100%
							text-align: center
							color: #777

							&:before
								display: block
								font-family: "pp-font"
								color: $borders
								content: $icon-upload
								font-size: 120px
								margin-bottom: 10px

							.choose
								color: $main-color

								&:hover
									color: #5E1C1B

						input
							position: absolute
							margin: 0
							padding: 0
							width: 100%
							height: 100%
							outline: none
							top: 0
							left: 0
							opacity: 0

							&:focus
								box-shadow: 0 0 0 1px #fff, 0 0 0 3px rgba(196, 75, 71, 0.5)
								opacity: 1
								padding-top: 478px

						button
							display: block
							margin: 15px auto
							padding: 8px 15px
							background: transparent
							border: 2px solid $main-color
							color: $main-color
							font-weight: 600
							font-size: 15px
							width: auto
							height: auto
							border-radius: 3px
							outline: none
							z-index: 2
							position: relative

							&:hover
								background: $main-color
								color: white

							&:active
								border: 0

				span
					font-size: 15px

				.button
					float: right

			article.comments
				width: 100%
				margin: 25px 0

				.title-section
					font-size: 15px
					margin-bottom: 15px
					padding: 0 20px

				ul.list-comments
					padding: 0
					margin: 0

					li.comment
						padding: 15px 20px

						a.avatar
							width: 32px
							height: 32px

						.comment-container, .composer-container
							width: calc(100% - 32px - 15px)
							height: auto
							font-size: 15px
							margin-left: 15px

						.composer-container
							.comment-composer
								width: 100%
								height: 32px

							.button-comment
								padding: 8px
								max-height: 35px

		.sidebar
			display: none

	section.overlay-messages
		.messages
			width: 100%
			max-height: 100%
			border-radius: 0
			border: 0

			.container
				.message
					.inbox, .search-box
						.inbox-top
							a.button
								&.new-message
									right: 48px

							.button-close
								display: block

					.inbox
						border-right: 0
						width: 100%

					.search-box
						width: 100%
						border-right: 0

					.chat-container
						width: 100%
						@include vendor-prefix(transition, margin 0.5s ease-in-out)
						margin-right: -100%

						.chat-top
							a.back-list
								display: inline-block

							.chat-name
								padding-left: 20px

							.button-close
								display: none

	section.overlay
		.box-container
			width: 100%
			height: 100%
			border: none
			border-radius: 0

			&.new-request
				width: 100%

			.box-content
				position: absolute
				width: 100%
				height: 100%
				top: 0
				bottom: 0
				left: 0
				right: 0

			.box-top
				position: absolute
				top: 0
				width: 100%
				height: 44px

			.edit-request-content
				position: absolute
				width: 100%
				height: calc(100% - 44px)
				top: 45px
				left: 0
				right: 0

				.box-comp
					position: absolute
					width: 100%
					height: calc(100% - 56px)

					textarea.content
						position: absolute
						width: 100%
						height: calc(100% - 56px - 82px)
						top: 54px

					.comp-details
						position: absolute
						width: 100%
						height: auto
						padding: 0
						bottom: 0

						.col-6
							width: 100%

			.box-bottom
				position: absolute
				width: 100%
				height: 56px
				bottom: 0

@media (max-width: 415px)
	.full-main
		.full-main-top
			padding-left: 15px
			margin-bottom: 15px

@media (max-width: 390px)
	.full-main
		.full-main-top
			padding: 0 20px

		.full-main-container
			.full-main-container-left, .full-main-container-center, .full-main-container-right
				width: 100%

				.full-main-content
					width: 100%

					.fcontent-top, .fcontent-text, .fcontent-bottom
						padding: 10px 20px

					.fcontent-choice
						.fcontent-choice-list
							.fcontent-choice-item
								padding: 10px 20px 15px

@media (max-width: 380px)
	article.profile-card
		width: 100%
		height: auto

@media (max-width: 370px)
	header
		div.content
			.header-actions
				.header-actions-buttons
					ul.connected
						li.header-actions-new
							a.button
								position: relative
								width: 32px
								height: 32px
								margin: 12px 6px 12px 0
								padding: 4px
								font-size: 0
								color: transparent

								&:before
									display: block
									width: 24px
									height: 24px
									padding: 0
									text-align: center
									font-family: "pp-font"
									font-size: 14px
									line-height: 25px
									content: $icon-plus
									color: $main-color