@import ../../../../../AppBundle/Resources/public/css/init.sass

article.profile-card
	background: white
	width: 380px
	height: 225px
	border-bottom: 1px solid rgba(0, 0, 0, 0.1)
	overflow: hidden
	display: block
	float: left
	margin-bottom: 10px

	&:nth-child(odd)
		margin-right: 10px

	.profile-card-top
		background: $main-color
		width: 100%
		height: 70px

		a.profile-card-cover
			width: 100%
			height: 70px
			position: relative
			display: block

			.banner
				background-position: center bottom
				background-repeat: no-repeat
				background-size: cover
				position: absolute
				width: 100%
				height: 100%
				top: 0
				z-index: 0

			.overlay
				width: 100%
				height: 100%
				background: rgba(0,0,0,.25)
				position: absolute
				top: 0
				z-index: 1

	.profile-card-bottom
		text-align: center
		padding: 0 20px 20px
		position: relative
		z-index: 2

		a.avatar
			width: 70px
			height: 70px
			margin: -50px auto 0
			border: 1px solid white

		.profile-card-infos
			margin: 10px 0

			.username
				display: block
				line-height: 22px

				a
					font-size: 18px
					line-height: 18px
					font-weight: 700

					&:hover
						text-decoration: underline

			.screenname
				display: block
				line-height: 14px

				a
					color: #777
					font-size: 14px
					line-height: 14px

					&:hover
						text-decoration: underline

		.profile-card-bio
			color: #777
			font-size: 14px
			word-wrap: break-word

section.profile
	position: relative
	width: 100%
	height: auto

	.profile-cover
		background: $main-color
		position: absolute
		width: 100%
		height: 100%
		overflow: hidden

		.banner
			background-position: center center
			background-repeat: no-repeat
			background-size: cover
			position: absolute
			width: 100%
			height: 100%
			top: 0
			z-index: 0

		.overlay
			width: 100%
			height: 100%
			background: rgba(0,0,0,.25)
			position: absolute
			top: 0
			z-index: 1

		.edit-cover
			position: absolute
			z-index: 2
			width: 100%
			height: 100%
			border: 5px solid transparent

			&:before, &:after
				z-index: 2
				color: white
				position: absolute

			&:before
				width: 20px
				top: 15px
				left: 15px
				font-family: "pp-font"
				content: $icon-upload
				font-size: 15px

			&:after
				top: 13px
				left: 35px
				content: "Change your cover image"
				font-size: 16px
				font-weight: 600
				padding-left: 10px
				text-transform: uppercase

			&:hover
				background: rgba(0,0,0,.25)
				border: 5px solid $main-color

			label
				display: none

			input
				position: absolute
				z-index: 2
				margin: 0
				padding: 0
				width: 100%
				height: 100%
				outline: none
				top: 0
				left: 0
				opacity: 0
				cursor: pointer

	.cover-image-container
		z-index: 0

		.cover-upload
			background-position: center center
			background-repeat: no-repeat
			background-size: cover
			position: absolute
			width: 100%
			height: 100%
			top: 0
			z-index: 0

		.overlay
			width: 100%
			height: 100%
			background: rgba(0,0,0,.25)
			position: absolute
			top: 0
			z-index: 1

	.profile-details
		width: 750px
		height: auto
		margin: 0 auto
		padding: 70px 0
		position: relative
		z-index: 2
		color: white
		text-align: center

		input[type="text"], textarea
			background: transparent
			width: 100%
			border: none
			text-align: center
			resize: none

		.avatar
			width: 100px
			height: 100px
			border-radius: 50%
			overflow: hidden
			display: block
			margin: 0 auto
			border: 1px solid white
			position: relative

			img
				width: 100%

			.profile-avatar-editing
				position: absolute
				z-index: 1
				background: rgba(0,0,0,.5)
				width: 100%
				height: 100%
				top: 0
				left: 0
				border-radius: 50%

				&:before
					position: absolute
					top: 50%
					left: 50%
					@include vendor-prefix(transform, translate(-50%,-50%))
					font-family: "pp-font"
					content: $icon-upload
					color: white
					font-size: 35px

				&:hover
					background: rgba(0,0,0,.75)
					border: 2px solid white

				input
					position: absolute
					z-index: 2
					margin: 0
					padding: 0
					width: 100%
					height: 100%
					outline: none
					top: 0
					left: 0
					opacity: 0
					cursor: pointer

		h1.username
			font-size: 40px
			font-weight: 600
			margin: 7px 0 0

		p.bio, .bio
			font-size: 20px
			margin: 0 auto 10px
			word-wrap: break-word

		.profile-actions
			width: 100%
			height: auto

			.profile-options
				width: 36px
				display: inline

				.button
					background: transparent
					width: 36px
					height: 36px
					position: relative
					padding: 8px

					&:before
						color: rgba(255,255,255,.5)
						width: 20px
						height: 20px
						font-family: "pp-font"
						content: $icon-dropdown
						font-size: 16px

					&:hover, &:focus
						box-shadow: none

						&:before
							color: white

				ul.dropdown-choices
					padding: 0px 0
					text-align: left

		ul.details
			margin: 10px auto 0
			padding: 0

			li
				list-style: none
				margin: 0
				padding: 0 10px
				display: inline
				border-right: 1px solid white

				&:nth-last-child(2), &:nth-last-child(1)
					border-right: none

			li.link
				display: block
				margin: 10px 0 0

				a
					color: rgba(255,255,255,.75)
					font-size: 18px

		.follow, .pm
			background: white
			color: #222
			font-size: 14px
			margin: 20px 0 0

			&:hover
				background: #4AC25E
				border: 1px solid #4AC25E
				color: white

		.unfollow:hover
			background: $main-color
			border: 1px solid $main-color

section.profile-galery
	width: 100%
	height: auto
	padding: 45px 0 0

	div.content
		padding: 0 45px

		ul
			margin: 0
			padding: 0
			overflow: hidden
			display: block

			li
				list-style: none
				display: block
				float: left
				margin-right: 10px

				&:last-child
					margin: 0

				a
					display: block
					width: 285px
					height: 195px
					overflow: hidden

					&.more
						background: #d8d8d8
						color: rgba(0,0,0,.25)
						text-align: center
						padding: 65px 0
						font-size: 60px
						

					img
						width: 285px
						height: 195px

.full-main
	width: 1200px
	height: auto
	display: block

	.full-main-top
		width: 100%
		height: auto
		display: block
		margin-bottom: 25px

		h1
			font-size: 22px
			font-weight: 600
			color: $main-color
			text-transform: uppercase

	.full-main-container
		.full-main-container-left, .full-main-container-center, .full-main-container-right
			width: 390px
			height: auto
			display: block
			float: left

		.full-main-container-left, .full-main-container-center
			margin-right: 15px

		.full-main-content
			background: white
			width: 390px
			height: auto
			border-bottom: 1px solid rgba(0,0,0,.1)
			font-size: 16px

			.fcontent-top
				padding: 10px 15px
				border-bottom: 1px solid rgba(0,0,0,.1)
				font-size: 18px
				font-weight: 600
				color: #444
				text-transform: uppercase

			.fcontent-text
				padding: 10px 15px 20px
				border-bottom: 1px solid rgba(0,0,0,.1)
				color: #777

			.fcontent-choice
				display: block

				.full-width-input
					width: 100%
					height: auto
					padding: 10px 15px
					border: none
					border-bottom: 1px solid rgba(0,0,0,.1)

				.fcontent-choice-list
					.fcontent-choice-item
						padding: 10px 15px 15px
						border-bottom: 1px solid rgba(0,0,0,.1)

						&:hover
							background: rgba(0,0,0,.03)

						label
							padding-left: 36px
							display: block
							overflow: hidden

							span.fcontent-choice-item-title, span.fcontent-choice-item-desc
								display: block
								width: 324px

							span.fcontent-choice-item-title
								color: #777

							span.fcontent-choice-item-desc
								color: #BBB

			.fcontent-bottom
				padding: 10px 15px
				display: block
				overflow: hidden

				.button
					float: right