

{% for user in userList%}
        {{ include("PPUserBundle:Search:userPattern.html.twig") }}
        {% if loop.index == 10 %}
            {% if haveNextPage == true %}
                <span id="{{ "loadPageTrigger"~nextPage }}"></span>
            {% endif %}
        {% endif %}
{% else %}
        
{% endfor %}
{% if haveNextPage == true %}
	<div  id="{{ "loadPage"~nextPage }}"></div>
{% endif %}
